/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}


#bg-divider {
  background-image: url(../images/bgtile.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 21vw;
  position: relative;
}

#main-content-container {
  width: 70vw;
  position: absolute;
  left: 220px;
  top: 115px;
  padding: 0 1vw;
  height: 210%;
}

#main-content-box {
  display: flex;
  justify-content: space-between;
}

#main-content-box > div:nth-child(2) {
  width: 60%;
  
}


#main-content-box > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
  width: 41.3vw;
  margin: 3px;
}

#main-content-box > div:nth-child(2) > div:nth-child(1) > button {
  border-radius: 4px;
  width: 7vw;
  height: 3vw;
  background-image: url(../images/bgtile.png);
  background-size: 3vw;
}

#main-content-box > div:nth-child(2) > div:nth-child(2) {
  padding: 1vw 2.6vw 0;
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-content-box > div:nth-child(2) > div:nth-child(2) > h2 {
  margin-bottom: 0;
  padding-right: 45%;
}

#main-content-box > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 23%;
}

#main-content-box > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) p {
  margin: 0;
}

#main-content-box > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
  margin-top: 5%;
}

#main-content-box > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) img {
  margin-right: 5%;
}

#main-content-footer {
  /* background-color: green; */
}